* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(32, 32, 32);
    margin: 0;
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

#streamsContainer {
    height: 95%;
    display: grid;
    align-items: center;
}

#streams {
    margin: 0 auto;
    display: grid;
    column-gap: 1vh;
    row-gap: 1vh;
}

input, button {
    all: unset;
    box-sizing: border-box;
    gap: 5px;
    display: flex;
    align-items: center;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

#options {
    display: grid;
    grid-auto-flow: column;
    height: 5%;
    background-color: rgb(51, 55, 59);
    padding-left: 1vh;
    padding-right: 1vh;
    align-items: center;
}

.buttonGroup {
    gap: 1vh;
    display: flex;
}

.overlay {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgba(139, 0, 0, 0.5) solid 0.3vw;
    color: rgba(139, 0, 0, 0.5);
    background-color: rgba(0,0,0, 0.8);
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#rightButtonGroup {
    flex-direction: row-reverse;
    height: 70%;
}

#leftButtonGroup {
    flex-direction: row;
    height: 70%;
}

.stream {
    position: relative;
    height: fit-content;
    aspect-ratio: 16/9;
}

.stream .overlay:hover {
    border-color: rgb(204, 0, 0);
    color: rgb(204, 0, 0);
}

.stream iframe { 
    position: absolute;
    width: 100%;
    height: 100%;
}

.oneByOne {
    width: 83%;
    grid-template-columns: 1fr;
}

.oneByTwo {
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.twoByTwo {
    width: 164vh;
    grid-template-columns: 1fr 1fr;
}

.threeByTwo {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.threeByThree {
    width: 164vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr
}

.text-shadow {
    text-shadow: black 1px 0 5px;
}

.redButton {
    background-color: darkred;
}

.redButton:hover {
    background-color:rgb(95, 2, 2);
}

button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.greenButton {
    background-color: rgb(79, 170, 79);
}

.greenButton:hover {
    background-color:rgb(50, 105, 50);
}

input {
    background-color: white;
}

button {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: solid white 1px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

button:active {
    font-weight: bolder;
}   